.App {
  text-align: center;
}
.counter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter__heading {
  font-size: 50px;
  color: #0093e9;
  text-transform: uppercase;
}
.counter__number {
  font-size: 70px;
  font-weight: 700;
}
.counter__action {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
}
button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  background-color: #0093e9;
  background-image: linear-gradient(
    159deg,
    #0093e9 1%,
    #80d0c7 50%,
    #ffffff 100%
  );
  transition: all 0.2 ease;
  border: none;
}
button:hover {
  scale: 1.1;
}
img {
  width: 20px;
  height: 20px;
}
.counter__reset {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
